* {
    margin: 0px;
    padding: 0px;
}

/*navbar start hear*/
.logo-img {
    width: 200px;
}

.logo-img:hover {
    box-shadow: 0px 0px 50px 20px rgb(165, 145, 145);
}

.menu-container {
    background-color: black;
    padding: 10px;
    color: white;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menus {
    display: flex;
    align-items: center;
    justify-content: center;
}

.items {
    margin-right: 10px;
    padding: 10px;
}

.items:hover {
    color: rgb(233, 13, 64);
}

/* navbar end hear*/
/* banner section start hear*/
.banner-img {
    width: 300px;
}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background-image: url(./images/background.png),
        linear-gradient(45deg, rgb(12, 11, 11), rgb(60, 55, 55));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    color: white;
}

.title {
    font-size: 55px;
    font-weight: bold;
}

.description {
    font-size: 18px;
    margin: 15px 0px;
}

.btn {
    padding: 10px 20px;
    background-color: white;
    color: black;
    font-weight: bolder;
    border-radius: 5px;
}

.btn:hover {
    color: black;
    background-color: red;
    border-radius: 17px 0px;
}


/* banner section end hear*/
/*About  start hear*/
.about-banner-img {
    height: 300px;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-image: url(./images/background.png),
        linear-gradient(45deg, white, white);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    color: black;
}

.title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.description {
    font-size: 15px;
    margin: 15px 0px;
}

.h1 {
    font-size: 40px;
    text-align: center;

}

/*About  end hear*/
/*card section start here*/
.card {
    width: 260px;
    height: 340px;
    box-shadow: 0px 0px 50px 20px gray;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

.box-btn {
    font-weight: bolder;
    color: black;
    margin: 10px;
    padding: 10px 15px;

}

.box-btn:hover {
    background-color: gray;
}

.title1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding-top: 25px;
}

.icon {
    width: 100px;
}

.card-text {
    margin: 10px;
}

.card-container {

    background-image: url(./images/background.png),
        linear-gradient(45deg, rgb(63, 58, 58), rgb(30, 29, 29));
    height: 500px;

}

.card-main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.card:hover {
    box-shadow: 5px 5px 0px 25px black;
}

/*card section end here*/
/*Footer section start hear*/
.footer-logo {
    width: 100px;
    margin: 10px;

}

.footer-main-container {
    display: flex;
    justify-content: space-around;
}

.footer {
    height: 400px;
    background-image: url(./images/background.png),
        linear-gradient(35deg, rgb(29, 28, 28), rgb(17, 13, 13));
}

.div1,
.div2,
.div3,
.div4 {
    padding: 20px;
    margin: 40px;
    color: white;
}

.footer-text {

    margin: 10px;

}

.footer-para {
    margin: 10px;
}

.hr {


    display: flex;
    justify-content: center;
}

hr {
    width: 500px;


}

.copy {
    color: white;
    text-align: center;

}

.man {
    margin-top: 10px;
    font-size: 20px;
}



/*Footer section end hear*/